svg {
    height: 32px;
    fill: var(--brown);
}

.link-icon {
    display: flex;
    justify-content: center;
    width: 45px;
    margin: 0 10px;
}

nav a:hover, nav a:hover * {
    color: var(--turquoise);
    fill: var(--turquoise);
}

nav a, .menuItem {
    font-size: 24px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: var(--brown);
}

.dot {
    font-weight: bold;
    font-size: 18px;
}

.submenu-item {
    font-size: 18px;
}

.item-with-dot {
    margin-left: 2.5em;
    margin-bottom: 0;
}