@import "../../index.css";

.profile-container {
    display: flex;
    float: right;
    flex-direction: column;
    margin-top: 1em;
}

.profile-container > div {
    margin-bottom: 1em;
}

.name-box {
    display: flex;
    align-items: center;
}

.about-header {
    font-size: 18px;
    font-weight: 500;
    color: var(--brown);
}

.about-content {
    font-size: 14px;
}

.user-avatar {
    position: relative;
    right:15px;
}

.user-avatar img {
    height: 93px;
    width: 93px;
    border-radius: 50%;
}

.user-name, .user-id {
    font-size: 32px;
    color: var(--dark-grey);
    font-weight: 500;
}

.user-dog-list-header {
    font-size: 18px;
    font-weight: 500;
    color: var(--brown);
}

.dog-info-block {
    display: flex;
    flex-direction: column;
}

.dog-info {
    display: flex;
    flex-direction: row;
}

