@import "../../index.css";

.profile-container {
    display: flex;
    float: right;
    flex-direction: column;
    margin-top: 1em;
    max-width: 70%;
}

.profile-container > div {
    margin-bottom: 1em;
}

.name-box {
    display: flex;
    align-items: center;
}

.about-box {
    cursor: pointer;
}

.about-header {
    font-size: 18px;
    font-weight: 500;
    color: var(--brown);
}

.about-content, .about-content-edit::placeholder {
    font-size: 14px;
    color: var(--dark-grey);
}

#about-edition{
    font-family: Montserrat, sans-serif;
    padding: 0.5em;
    color: var(--dark-grey);
}

.about-content-edit {
    width: 80%;
    resize: none;
    border-radius: 5%;
    box-shadow: none;
    border: none;
}

.user-avatar {
    position: relative;
    right: 15px;
}

.user-avatar img {
    height: 93px;
    width: 93px;
    border-radius: 50%;
}

.user-name, .user-id {
    font-size: 32px;
    color: var(--dark-grey);
    font-weight: 500;
}

.user-dog-list-box {
    background-color: var(--cold-grey);
    border-color: var(--medium-light-grey);
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(186, 186, 186, 0.25);
    border-radius: 10px;
    padding: 1.5em;
    position: relative;
    right: 1.5em;
}

.user-dog-list-header {
    font-size: 18px;
    font-weight: 500;
    color: var(--brown);
}

.dog-info-block {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.dog-info {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
}

.dog-description {
    margin-bottom: 0.5em;
    color: var(--dark-grey);

}

.single-dog {
    display: grid;
}

.dog-box-line {
    justify-self: center;
    background-color: var(--medium-grey);
    width: 90%;
    height: 2px;
}
