.first-row, .user-id, .dog-name {
    color: var(--dark-grey);
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0.8em;
    width: 40%;
}

.info div {
    margin-bottom: 0.8em;
}

.user-id {
    font-size: 11px;
    margin-right: 1.5em;

}

.dog-name {
    font-size: 13px;
    font-style: italic;
}

.user-info span {
}

.dot {
    margin: 0 1em 0 1em;
}

.walk-wrapper {
    display: flex;
    width: 80%;
    height: 145px;
    background-color: var(--cold-grey);
}

.walk-wrapper img {
    height: 100px;
    width: 265px;
    margin: 0.7em;
}