@import "../../index.css";

body {
    background-color: var(--warm-grey);
    margin: 0;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.left-menu {
    width: 22.22vw;
}

.content-container {
    width: 55.55vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-container {
    width: 22.22vw;
}

.right-container .user-menu-bar {
    display: flex;
    margin-left: auto;
}
