:root {
    --white: #ffffff;
    --brown: #4a3737;
    --light-blue: #9FCCE5;
    --light-turquoise: #CAECFF;
    --warm-grey: #f1efec;
    --yellow: #E9B600;
    --alert-red: #db0000;
    --alert-organge: #FF5C00;
    --cold-grey: #F6F5F2;
    --turquoise: #05BAAF;
    --dark-grey: #5E6472;
    --medium-grey: #D8D8D8;
    --light-grey: #9DA0A8;
}
